@media screen and (max-width: 991px) {
	.burger-menu {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		width: 270px;
		padding-top: 75px;
		background-color: $white;
		box-shadow: 0 0 15px 0 rgba($black, 0.3);
		transform: translateX(100%);
		transform-origin: top right;
		overflow-y: auto;

		.menu-list {
			flex-direction: column;
			padding-right: 25px;
			padding-left: 25px;
			border-bottom: 1px solid $gray-200;

			&__item {
				margin-right: 0;
				margin-bottom: 10px;
			}
		}

		.collapse-heading {
			font-size: 18px;

			&__triangle {
				font-size: 9px;
			}
		}

		&_opened {
			transform: translateX(0);
		}

		&_transition {
			transition: transform 0.3s ease;
		}
	}
}
