.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-height: 48px;
	padding-top: 12px;
	padding-right: 38px;
	padding-bottom: 12px;
	padding-left: 38px;
	border: none;
	border-radius: 24px;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	transition: background-color 0.2 ease;

	&_size_s {
		min-height: 34px;
		padding: 8px 14px;
		border-radius: 17px;
		font-size: 14px;
	}

	&_color_primary {
		background-color: $primary;
		color: $white;

		&:hover,
		&:focus {
			background-color: darken($primary, 10%);
		}
	}

	&_color_green {
		background-color: rgba($green-300, 0.2);
		color: $green-300;

		&:hover,
		&:focus {
			background-color: rgba($green-300, 0.3);
		}
	}

	&_color_yellow {
		background-color: rgba($yellow-300, 0.2);
		color: $yellow-300;

		&:hover,
		&:focus {
			background-color: rgba($yellow-300, 0.3);
		}
	}

	&_color_mint {
		background-color: rgba($mint-300, 0.2);
		color: $mint-300;

		&:hover,
		&:focus {
			background-color: rgba($mint-300, 0.3);
		}
	}

	&_color_crimson {
		background-color: rgba($crimson-300, 0.2);
		color: $crimson-300;

		&:hover,
		&:focus {
			background-color: rgba($crimson-300, 0.3);
		}
	}

	&_color_burgundy {
		background-color: rgba($burgundy-300, 0.2);
		color: $burgundy-300;

		&:hover,
		&:focus {
			background-color: rgba($burgundy-300, 0.3);
		}
	}

	&_color_salmon {
		background-color: rgba($salmon-300, 0.2);
		color: $salmon-300;

		&:hover,
		&:focus {
			background-color: rgba($salmon-300, 0.3);
		}
	}

	&_color_blue {
		background-color: $blue-300;
		color: $white;

		&:hover,
		&:focus {
			background-color: darken($blue-300, 10%);
		}
	}

	&_color_gray {
		background-color: rgba($gray-600, 0.2);
		color: $gray-600;

		&:hover,
		&:focus {
			background-color: rgba($gray-600, 0.3);
		}
	}
}
