.collapse {
	&__inner {
		padding-right: 25px;
		padding-left: 25px;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.25s ease, padding-top 0.25s ease;
	}

	.products-group {
		padding-top: 20px;
	}

	.products-list {
		margin-bottom: 0;
	}

	&_opened {
		padding-bottom: 30px;
		border-bottom: 1px solid $gray-200;

		.collapse-heading__triangle {
			transform: rotate(180deg);
		}

		.collapse__inner {
			max-height: none;
		}
	}
}
