.icon-button {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 32px;
	height: 32px;
	margin: 0;
	padding: 0;
	background-color: transparent;
	border-radius: 50%;
	border: none;
	cursor: pointer;
	transition: background-color 0.2 ease;

	&__icon {
		width: 18px;
		height: 18px;
		color: $gray-600;
	}

	&:hover,
	&:focus {
		background-color: rgba($gray-400, 0.5);
	}

	&_primary {
		background-color: $primary;

		.icon-button__icon {
			color: $white;
		}

		&:hover,
		&:focus {
			background-color: $primary-light;
		}
	}
}
