.product {
	display: flex;
	text-decoration: none;
	opacity: 0.4;

	&__icon {
		flex-shrink: 0;
		width: 18px;
		height: 18px;
		margin-right: 20px;
		color: inherit;
	}

	&__text {
		line-height: 1.25;
	}
}
