.sidebar {
	align-self: flex-start;
	flex-basis: calc(32% - 30px);
	flex-grow: 1;
	max-width: 350px;
	min-width: 270px;
	padding-top: 40px;
	margin-right: 30px;
	margin-bottom: 110px;
	border-radius: 10px;
	background-color: $white;
}

@media screen and (max-width: 991px) {
	.sidebar {
		display: none;
	}
}
