mixin header(props = {})
  include logo
  include menu-list
  include menu-list
  include burger-button
  include burger-menu
  include icon-buttons-list

  .header&attributes(attributes)
    .container
      .header__inner
        +logo
        +burger-button
        +burger-menu
          +menu-list({items: ['Новости', 'Контакты', 'Войти']})
          +icon-buttons-list
