mixin service-card(props = {})
  include service-card-name
  include service-card-img
  include products-group
  include products-block
  include buttons-group
  include button

  - const { size, imgObjectFit, imgSrc, name, productsGroups } = props;
  -
    const rootClasses = [
      imgObjectFit === 'cover' && 'service-card_cover',
      size && `service-card_size_${size}`,
    ];

  .service-card(class= rootClasses)&attributes(attributes)
    .service-card__content
      +service-card-img({size: size, imgObjectFit: imgObjectFit})(src= imgSrc, alt= name)
      +service-card-name= name
      +products-block
        each props in productsGroups
          +products-group(props)
      +buttons-group(class="visually-hidden")
        +button({tag: 'a', size: 's', color: productsGroups[0].counterColor})(href="#")
          |Открыть карту
        +button({tag: 'a', size: 's', color: 'gray'})(href="#")
          |Открыть дашборд
