mixin services-list(props = {})
  include service-card

  .services-list&attributes(attributes)

    .services-list__column
      .services-list__item(data-column="0")
        +service-card({
          imgObjectFit: 'cover',
          imgSrc: 'assets/img/forest.svg',
          name: 'Лес-контроль',
          productsGroups: [
            {
              counter: 3,
              name: 'Базовых продуктов',
              productslistAtrrs: {class: 'visually-hidden'},
              products: [
                {
                  iconId: 'tree',
                  text: 'Лесопокрытые площадки',
                },
                {
                  iconId: 'tree',
                  text: 'Ситауционные карты местности',
                },
                {
                  iconId: 'tree',
                  text: 'Оценка параметров лесного фонда',
                },
              ]
            },
            {
              counter: 3,
              name: 'Мониторинговых продуктов',
              productslistAtrrs: {class: 'visually-hidden'},
              products: [
                {
                  iconId: 'tree',
                  text: 'Информация о естественных изменениях в лесном фонде',
                },
                {
                  iconId: 'tree',
                  text: 'Информация о хозяственной деятельности в лесном фонде',
                },
                {
                  iconId: 'tree',
                  text: 'Информация о незаконной деятельности в лесном фонде',
                },
              ]
            },
          ],
        })(class="service-card_size_l service-card_color_green")

      .services-list__item(data-column="0")
        +service-card({
          imgSrc: 'assets/img/mountains.svg',
          name: 'Сельхоз-мониторинг',
          productsGroups: [
            {
              counter: 3,
              name: 'Базовых продуктов',
              productslistAtrrs: {class: 'visually-hidden'},
              products: [
                {
                  iconId: 'tree',
                  text: 'Лесопокрытые площадки',
                },
                {
                  iconId: 'tree',
                  text: 'Ситауционные карты местности',
                },
                {
                  iconId: 'tree',
                  text: 'Оценка параметров лесного фонда',
                },
              ]
            },
            {
              counter: 3,
              name: 'Мониторинговых продуктов',
              productslistAtrrs: {class: 'visually-hidden'},
              products: [
                {
                  iconId: 'tree',
                  text: 'Информация о естественных изменениях в лесном фонде',
                },
                {
                  iconId: 'tree',
                  text: 'Информация о хозяственной деятельности в лесном фонде',
                },
                {
                  iconId: 'tree',
                  text: 'Информация о незаконной деятельности в лесном фонде',
                },
              ]
            },
          ],
        })(class="service-card_size_l service-card_color_yellow")

    .services-list__column
      .services-list__item(data-column="1")
        +service-card({
          imgSrc: 'assets/img/earth.svg',
          name: 'Эко-мониторинг',
          productsGroups: [
            {
              counter: 3,
              name: 'Базовых продуктов',
              productslistAtrrs: {class: 'visually-hidden'},
              products: [
                {
                  iconId: 'tree',
                  text: 'Лесопокрытые площадки',
                },
                {
                  iconId: 'tree',
                  text: 'Ситауционные карты местности',
                },
                {
                  iconId: 'tree',
                  text: 'Оценка параметров лесного фонда',
                },
              ]
            },
            {
              counter: 3,
              name: 'Мониторинговых продуктов',
              productslistAtrrs: {class: 'visually-hidden'},
              products: [
                {
                  iconId: 'tree',
                  text: 'Информация о естественных изменениях в лесном фонде',
                },
                {
                  iconId: 'tree',
                  text: 'Информация о хозяственной деятельности в лесном фонде',
                },
                {
                  iconId: 'tree',
                  text: 'Информация о незаконной деятельности в лесном фонде',
                },
              ]
            },
          ],
        })(class="service-card_color_mint")

      .services-list__item(data-column="1")
        +service-card({
          imgSrc: 'assets/img/house-on-fire.svg',
          name: 'Чрезвычайные ситуации',
          productsGroups: [
            {
              counter: 3,
              name: 'Базовых продуктов',
              productslistAtrrs: {class: 'visually-hidden'},
              products: [
                {
                  iconId: 'tree',
                  text: 'Лесопокрытые площадки',
                },
                {
                  iconId: 'tree',
                  text: 'Ситауционные карты местности',
                },
                {
                  iconId: 'tree',
                  text: 'Оценка параметров лесного фонда',
                },
              ]
            },
            {
              counter: 3,
              name: 'Мониторинговых продуктов',
              productslistAtrrs: {class: 'visually-hidden'},
              products: [
                {
                  iconId: 'tree',
                  text: 'Информация о естественных изменениях в лесном фонде',
                },
                {
                  iconId: 'tree',
                  text: 'Информация о хозяственной деятельности в лесном фонде',
                },
                {
                  iconId: 'tree',
                  text: 'Информация о незаконной деятельности в лесном фонде',
                },
              ]
            },
          ],
        })(class="service-card_color_crimson")

      .services-list__item(data-column="1")
        +service-card({
          imgSrc: 'assets/img/dirt.svg',
          name: 'Нарушенные земли',
          productsGroups: [
            {
              counter: 3,
              name: 'Базовых продуктов',
              productslistAtrrs: {class: 'visually-hidden'},
              products: [
                {
                  iconId: 'tree',
                  text: 'Лесопокрытые площадки',
                },
                {
                  iconId: 'tree',
                  text: 'Ситауционные карты местности',
                },
                {
                  iconId: 'tree',
                  text: 'Оценка параметров лесного фонда',
                },
              ]
            },
            {
              counter: 3,
              name: 'Мониторинговых продуктов',
              productslistAtrrs: {class: 'visually-hidden'},
              products: [
                {
                  iconId: 'tree',
                  text: 'Информация о естественных изменениях в лесном фонде',
                },
                {
                  iconId: 'tree',
                  text: 'Информация о хозяственной деятельности в лесном фонде',
                },
                {
                  iconId: 'tree',
                  text: 'Информация о незаконной деятельности в лесном фонде',
                },
              ]
            },
          ],
        })(class="service-card_color_burgundy")

    .services-list__column
      .services-list__item(data-column="2")
        +service-card({
          imgSrc: 'assets/img/truck.svg',
          name: 'Карьеры',
          productsGroups: [
            {
              counter: 3,
              name: 'Базовых продуктов',
              productslistAtrrs: {class: 'visually-hidden'},
              products: [
                {
                  iconId: 'tree',
                  text: 'Лесопокрытые площадки',
                },
                {
                  iconId: 'tree',
                  text: 'Ситауционные карты местности',
                },
                {
                  iconId: 'tree',
                  text: 'Оценка параметров лесного фонда',
                },
              ]
            },
            {
              counter: 3,
              name: 'Мониторинговых продуктов',
              productslistAtrrs: {class: 'visually-hidden'},
              products: [
                {
                  iconId: 'tree',
                  text: 'Информация о естественных изменениях в лесном фонде',
                },
                {
                  iconId: 'tree',
                  text: 'Информация о хозяственной деятельности в лесном фонде',
                },
                {
                  iconId: 'tree',
                  text: 'Информация о незаконной деятельности в лесном фонде',
                },
              ]
            },
          ],
        })(class="service-card_size_m service-card_color_salmon")

      .services-list__item(data-column="2")
        +service-card({
          imgObjectFit: 'cover',
          imgSrc: 'assets/img/builders.svg',
          name: 'Строй-контроль',
          productsGroups: [
            {
              counter: 3,
              name: 'Базовых продуктов',
              productslistAtrrs: {class: 'visually-hidden'},
              products: [
                {
                  iconId: 'tree',
                  text: 'Лесопокрытые площадки',
                },
                {
                  iconId: 'tree',
                  text: 'Ситауционные карты местности',
                },
                {
                  iconId: 'tree',
                  text: 'Оценка параметров лесного фонда',
                },
              ]
            },
            {
              counter: 3,
              name: 'Мониторинговых продуктов',
              productslistAtrrs: {class: 'visually-hidden'},
              products: [
                {
                  iconId: 'tree',
                  text: 'Информация о естественных изменениях в лесном фонде',
                },
                {
                  iconId: 'tree',
                  text: 'Информация о хозяственной деятельности в лесном фонде',
                },
                {
                  iconId: 'tree',
                  text: 'Информация о незаконной деятельности в лесном фонде',
                },
              ]
            },
          ],
        })(class="service-card_size_xl service-card_color_blue")
