mixin switch(props = {})

  label.switch&attributes(attributes)
    input(type="checkbox" checked).visually-hidden.switch__input
    div.switch__background
    span.switch__label Map
    span.switch__label Dashboard
