extends ../components/page
include ../components/services-list
include ../components/h1
include ../components/heading-description

block title
  |Главная страница

block content
  main
    .container
      section
        +h1
          |Уникальные сервисы
        +heading-description
          |на основе данных  дистанционного зондирования Земли из космоса
        +services-list
